@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto&family=Roboto+Mono&display=swap');

:root{
    --background-color:#fff;
    --background-light:#fff;
    --shadow-color:rgba(0,0,0,0.2);
    --primary-color:rgb(255,0,86);
    --text-color:#0A0A0A;
    --text-light:#575757;
    --font-size:16px;
    --animation-speed:1;
}

@function getAnimationDuration($duration:number){
    @return calc($duration * var(--animation-speed));
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: var(--font-size);
}
a{
    text-decoration: none;
}
img{
    object-fit: cover;
}

.btn{
    border: none;
    outline: none;
    background-color: var(--primary-color);
    color: #fff;
    padding: .75rem 1rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing:1px;
    border-radius: 5px;
    box-shadow: 0 4px 2px var(--shadow-color);
    &:hover{
        box-shadow: 0 2px 4px var(--shadow-color);
        cursor: pointer;
        transition:   all .2s ease-in-out;
        background-color: #575757;
    }
}

.custom-image{
    background-color:#fff;
    height: 0;
    width: 100%;
    position: relative;
    img{
      position:absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    
}
@import "navbar.scss";
@import "Hero-section.scss";
@import "improveskill.scss";

.section.quote{
   display: block;
   .quote-text{
    font-size: 1.3rem;
    line-height: 1.3;
    color: var(--text-color);
     
    svg{
        color: var(--primary-color);
        font-size: 1.2rem;
        margin-right: .5rem;
    }
   }
   .quote-author{
    color: var(--text-light);
    text-align: right;
    margin-top: 1rem;
   }
}
.main{
    padding-block: 10vh;
}

@import 'Animation.scss';
.section{
    display: flex;
    align-items: center;
    margin-bottom: 3vw;
    .title{
        color: var(--text-color);
        font-size: 2.5rem;
        margin-bottom: .25rem;
        font-weight: 900;
    }
    .info{
        color: var(--text-color);
        font-size: 1rem;
        letter-spacing: 1px;
        line-height: 1.3;
        margin-bottom: 1.25rem;
    }
    .col{
        width: 50%;
    }
}

.container{
padding-inline: 20vh; 

}
@media screen and (max-width:768px){
    .navbar{
        .nav-links{
            display: none;
        }
        .sidebar-btn{
            display:block;
        }

    }
   
}